<h1>Home</h1>
<p *ngIf="user?.id">Benvenuto {{user?.username}}!</p>

<div class="shadow-sm p-3 mb-5 row app-background" >
  <div class="p-2 m-1 btn" style="width:auto" routerLink="/chessboard" routerLinkActive="active">
    <div class="app align-middle justify-content-center" style="background-color: #FF9F0A;">
      <fa-icon class="d-flex justify-content-center" style="font-size: 3.5em;" [icon]="faChess"></fa-icon>     
    </div>
    <span style="width: 100px;" class="mt-1 d-flex justify-content-center app-description">Scacchiera</span>
  </div>
  <div class="p-2 m-1 btn" style="width:auto" routerLink="/importboard" routerLinkActive="active">
      <div class="app align-middle" style="background-color: #5AC8FA;">
        <fa-icon class="d-flex justify-content-center" style="font-size: 4em;" [icon]="faChessBoard"></fa-icon>      
      </div>
      <span style="width: 100px;" class="mt-1 d-flex justify-content-center app-description">Importa Scacchiera</span>
  </div>
  <div class="p-2 m-1 btn" style="width:auto" routerLink="/customboard" routerLinkActive="active">
    <div class="app align-middle" style="background-color: #34c759;">
      <fa-icon class="d-flex justify-content-center" style="font-size: 4em;" [icon]="faPalette"></fa-icon>      
    </div>
    <span style="width: 100px;" class="mt-1 d-flex justify-content-center app-description">Personalizza la Scacchiera</span>
</div>
<div class="p-2 m-1 btn" style="width:auto" routerLink="/history" routerLinkActive="active">
  <div class="app align-middle" style="background-color: #ff3b30;">
    <fa-icon class="d-flex justify-content-center" style="font-size: 4em;" [icon]="faArchive"></fa-icon>      
  </div>
  <span style="width: 100px;" class="mt-1 d-flex justify-content-center app-description">Le tue partite</span>
</div>
<div class="p-2 m-1 btn" style="width:auto" routerLink="/tutoring" routerLinkActive="active">
  <div class="app align-middle" style="background-color: rgb(10,132,255);">
    <fa-icon class="d-flex justify-content-center" style="font-size: 4em;" [icon]="faPersonChalkboard"></fa-icon>      
  </div>
  <span style="width: 100px;" class="mt-1 d-flex justify-content-center app-description">Fai da tutor</span>
</div>
</div>
    
