.app{
    border-radius: 22px;       
    color: white;       
    padding: 20px;
    width: 100px;
    height: 100px;
}

.app:hover {
    transform: translateY(-0.5px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
 }
    
.app-description{
    font-size: 17px;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -.022em;
    color: #1d1d1f;
    font-style: normal;
}

.app-background{
    background-color: #F2F2F7;
    border-radius: 15px;
}
