<div class="d-flex justify-content-start align-items-center">
    <fa-icon class="p-2" style="font-size: 2em; cursor: pointer;" [icon]="faChevronLeft"  (click)="back()" placement="bottom" ngbTooltip="Indietro"></fa-icon>
    <h3 class="mt-2 p-2">Le tue partite</h3>
</div>
<div *ngIf="loading" class="d-flex justify-content-center mt-5">
    <fa-icon *ngIf="loading" [icon]="faCircleNotch" [spin]="true" style="font-size:2.5em"></fa-icon>
</div>
<div *ngIf="partite.length == 0">
    <ngb-alert [dismissible]="false">
       <strong>Attenzione!</strong> Non è stata trovata alcuna partita.
    </ngb-alert>
</div>
<div *ngIf="partite.length > 0">
    <table class="table table-striped table-hover center">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Data</th>
          <th scope="col">Descrizione</th>
          <th scope="col">Elimina</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let partita of partite; let i = index" (click)="openGame(partita._id.$oid)" style="cursor: pointer;">
          <th scope="row">{{ (page -1 )* pageSize + i + 1 }}</th>
          <td>
            {{ partita.name }}
          </td>
          <td>{{ partita.date }}</td>
          <td>{{ partita.description }}</td>
          <td>
            <button class="btn btn-danger" placement="bottom" ngbTooltip="Elimina" (click)="openModalDelete(partita._id.$oid); clickStopper($event)">
              <fa-icon [icon]="faTrash"></fa-icon>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
      
      <div class="d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshPartite()">
        </ngb-pagination>
      
        <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshPartite()">
          <option [ngValue]="10">10 partite per pagina</option>
          <option [ngValue]="20">20 pagina per pagina</option>
          <option [ngValue]="50">50 pagina per pagina</option>
        </select>
      </div>
</div>

<ng-template #deleteModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Annulla modifiche</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
  </div>
  <div class="modal-body">
    <p>Sei sicuro di voler <strong>ELIMINARE</strong> la partita?</p>
    <br>
    <p>Attenzione! La partita non potrà più essere recuperata!</p>
  </div>
  <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="close()">Annulla</button>
          <button type="button" class="btn btn-danger" (click)="delete()">Elimina</button>
  </div>
</ng-template>