<div class="col-md-4 offset-md-4 mt-4">
    <div class="card">
        <div class="card-header">
            <h4>Registrazione</h4>
        </div>
        <div class="card-body">
            <form class="form-signin" #loginForm="ngForm" (ngSubmit)="register()">
                <div class="container-fluid">
                    <label *ngIf="email != ''" for="username" class="sr-only mb-2">Email</label>
                    <input [disabled]="loading"  type="email" id="Email" [(ngModel)]="email"  [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Email" required autofocus>
                    <br>
                    <label *ngIf="username != ''" for="username" class="sr-only mb-2">Username</label>
                    <input [disabled]="loading"  type="username" id="username" [(ngModel)]="username"  [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Username" required autofocus>
                    <br>
                    <label *ngIf="password != ''" for="password" class="sr-only mb-2">Password</label>
                    <input  [disabled]="loading"  type="password" id="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Password" required>
                    <br>
                    <label *ngIf="passwordConf != ''" for="passwordConf" class="sr-only mb-2">Conferma Password</label>
                    <input  [disabled]="loading"  type="password" id="passwordConf" [(ngModel)]="passwordConf" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Conferma Password" required>
                    <br>
                    <button class="btn bth-lg btn-primary btn-block"  [disabled]="loading"  type="submit">
                        Register
                        <fa-icon *ngIf="loading" [icon]="faSpinner" [spin]="true"></fa-icon>
                    </button>
                    <br>
                    <p class="mt-2">Hai già un account? <a href="/login" class="link-primary">Accedi qui!</a></p>
                </div>  
            </form>
        </div> 
    </div>
</div>
