<div class="d-flex justify-content-start align-items-center">
        <fa-icon class="p-2" style="font-size: 2em; cursor: pointer;" [icon]="faChevronLeft"  (click)="back()" placement="bottom" ngbTooltip="Indietro"></fa-icon>
        <h3 class="mt-2 p-2">Importa la tua scacchiera</h3>
    </div>
<div class="row" *ngIf="!loading">
        <div class="col d-flex justify-content-center mt-2 mb-2" style="width: auto;">
                <ngx-chess-board #board (moveChange)="moveCallback($event)"
                [size]="550"
                [dragDisabled]="true"
                [lightDisabled]="!pgnSetted"
                [pieceIcons]="pieceIconInput"
                [lightTileColor] = "customBoard.lightColor"
                [darkTileColor] = "customBoard.darkColor"
                [showCoords] = "customBoard.showCoords"
                [showLastMove] = "customBoard.showLastMove"
                [showLegalMoves] = "customBoard.showLegalMoves"
                [showActivePiece] = "customBoard.showActivePiece"
                [sourcePointColor] = "customBoard.sourcePointColor"
                [destinationPointColor] = "customBoard.destinationPointColor"
                [showPossibleCaptures] = "customBoard.showPossibleCaptures"
                >
                </ngx-chess-board>
        </div>
         <div class="col mt-2 mb-2" style="width: auto;">
                <div class="card mb-4">
                        <div class="card-header">
                                <div class="d-flex justify-content-center">
                                        <h5>Comandi Scacchiera</h5>
                                </div>
                        </div>
                        <div class="row card-body">
                        <div class="col d-flex justify-content-center">
                                <button class="btn btn-warning chess-btn" [disabled]="!pgnSetted" (click)="openModalReset()" placement="bottom" ngbTooltip="Reset Scacchiera">
                                        <fa-icon class="d-flex justify-content-center" style="font-size: 2.5em;color: white;" [icon]="faBan"></fa-icon>
                                </button>
                        </div>
                        <div class="col d-flex justify-content-center">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                        <button class="btn btn-primary chess-btn" [disabled]="!pgnSetted || move == 0" (click)="prevMove()" placement="bottom" ngbTooltip="Mossa precedente">
                                                <fa-icon class="d-flex justify-content-center" style="font-size: 3em;" [icon]="faBackwardStep"></fa-icon>
                                        </button>
                                        <button class="btn btn-primary chess-btn" [disabled]="!pgnSetted" (click)="nextMove()" placement="bottom" ngbTooltip="Mossa successiva">
                                                <fa-icon class="d-flex justify-content-center" style="font-size: 3em;" [icon]="faForwardStep"></fa-icon>
                                        </button>
                              </div>
                        </div> 
                        <div class="col d-flex justify-content-center">
                                <button class="btn btn-info chess-btn" [disabled]="!pgnSetted" (click)="reverse()" placement="bottom" ngbTooltip="Inverti scacchiera">
                                        <fa-icon [ngStyle]="{'color':isWhite === true ? 'white' : 'black' }" class="d-flex justify-content-center" style="font-size: 2.5em;" [icon]="faChessPawn"></fa-icon>
                                </button>
                        </div> 
                </div>
                </div>
                <h6 for="fen">PGN</h6>
                <textarea rows="7" type="text" class="form-control mb-2" id="pgn" aria-describedby="fen" [(ngModel)]="pgn"
                        placeholder="Incolla qui il tuo PGN">
                </textarea>                    
                <div class="justify-content-end d-flex">
                        <button type="button" class="btn btn-success"
                                 (click)="setPgn()">Set PGN
                        </button>
                </div>
                <h3 class="mt-2 p-2">{{visComment}}</h3>
         </div>
         <div class="col mt-2 mb-2" style="width: auto;">     
                <h6 for="fen">Inserisci il nome della partita</h6>
                <div class="form-outline">
                        <input class="form-control" id="commentArea" rows="4" [(ngModel)]="namePartita" />
                        <label class="form-label" for="textAreaExample"></label>
                </div>
                <h6 for="fen">Inserisci una descrizione della partita</h6>
                <div class="form-outline">
                        <textarea class="form-control" id="commentArea" rows="4" [(ngModel)]="descrPartita"></textarea>
                        <label class="form-label" for="textAreaExample"></label>
                </div> 
                <div class="justify-content-end d-flex">
                        <button type="button" class="btn btn-success"
                                 (click)="saveGame()">Salva partita
                        </button>
                </div>
         </div>
</div>
<div *ngIf="loading" class="d-flex justify-content-center mt-5">
        <fa-icon *ngIf="loading" [icon]="faCircleNotch" [spin]="true" style="font-size:2.5em"></fa-icon>
</div>


<ng-template #resetModal let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Reset Scacchiera</h4>
          <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
        </div>
        <div class="modal-body">
          <p>Sei sicuro di voler <strong>resettare</strong> la scacchiera?</p>
        </div>
        <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="closeReset()">Cancel</button>
                <button type="button" class="btn btn-warning" (click)="reset()">Reset</button>
        </div>
</ng-template>
    

    
    
    
    