<div class="d-flex justify-content-start align-items-center">
    <fa-icon class="p-2" style="font-size: 2em; cursor: pointer;" [icon]="faChevronLeft"  (click)="back()" placement="bottom" ngbTooltip="Indietro"></fa-icon>
    <h3 class="mt-2 p-2">Personalizza la tua schacchiera</h3>
</div>
<div class="row" *ngIf="!loading">
        <div class="col d-flex justify-content-center mt-2 mb-2" style="width: auto;">
                <ngx-chess-board #board
                [size]="550"
                [dragDisabled]="true"
                [pieceIcons]="pieceIconInput"
                [lightTileColor] = "customBoard.lightColor"
                [darkTileColor] = "customBoard.darkColor"
                [showCoords] = "customBoard.showCoords"
                [showLastMove] = "customBoard.showLastMove"
                [showLegalMoves] = "customBoard.showLegalMoves"
                [showActivePiece] = "customBoard.showActivePiece"
                [sourcePointColor] = "customBoard.sourcePointColor"
                [destinationPointColor] = "customBoard.destinationPointColor"
                [showPossibleCaptures] = "customBoard.showPossibleCaptures"
                >
                </ngx-chess-board>
        </div>
        <div class="col mt-2 mb-2" style="width: auto;">
            <div class="d-flex justify-content-end mb-2">
                <button type="button" class="btn btn-warning rounded-circle m-1" style="width:50px;height:50px;" (click)="openModalDefault()" placement="bottom" ngbTooltip="Metti valori di default">
                    <fa-icon class="d-flex justify-content-center" style="font-size: 2em;color: white;" [icon]="faRotateBack"></fa-icon>
                </button>
                <button type="button" class="btn btn-secondary rounded-circle m-1" style="width:50px;height:50px;" (click)="openModalCancel()" placement="bottom" ngbTooltip="Annulla modifiche">
                    <fa-icon class="d-flex justify-content-center" style="font-size: 2em;color: white;" [icon]="faCancel"></fa-icon>
                </button>
                <button type="button" class="btn btn-primary rounded-circle m-1" style="width:50px;height:50px;" (click)="save()" placement="bottom" ngbTooltip="Salva personalizzazione">
                    <fa-icon class="d-flex justify-content-center" style="font-size: 2em;" [icon]="faSave"></fa-icon>
                </button>
            </div>
            <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                <ngb-panel>
                    <ng-template ngbPanelTitle>
                        <h6 class="mb-0">Colore scacchiera</h6>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <div class="row">
                            <div class="col mt-1 mb-2" style="width: auto;">
                                <div class="d-flex justify-content-center">
                                    <h5>Colore caselle chiare</h5>
                                </div>
                                <div class="row">
                                    <div class="col d-flex justify-content-center">
                                               <span [style.background]="customBoard.lightColor"
                                               [cpToggle]="true"
                                               [cpDialogDisplay]="'inline'"
                                               [cpCancelButton]="true"
                                               [(colorPicker)]="customBoard.lightColor"></span>
                                    </div>
                               </div>                
                            </div>

                            <div class="col mt-1 mb-2" style="width: auto;">
                                <div class="d-flex justify-content-center">
                                    <h5>Colore caselle scure</h5>
                                </div>
                                <div class="col d-flex justify-content-center">
                                    <span [style.background]="customBoard.darkColor"
                                    [cpToggle]="true"
                                    [cpDialogDisplay]="'inline'"
                                    [cpCancelButton]="true"
                                    [(colorPicker)]="customBoard.darkColor"></span>
                                </div> 
                            </div>             
                        </div>
                    </ng-template>
                </ngb-panel>
                <ngb-panel>
                    <ng-template ngbPanelTitle>
                        <h6 class="mb-0">Opzioni scacchiera</h6>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <div class="input-group mb-1">
                            <div class="input-group-text">
                              <input class="form-check-input mt-0" type="checkbox" [(ngModel)]="customBoard.showCoords" >
                            </div>
                            <span class="input-group-text" id="inputGroup-sizing-default" style="width: 90%;">Visualizza coordinate</span>
                        </div>
                        <div class="input-group mb-1">
                            <div class="input-group-text">
                              <input class="form-check-input mt-0" type="checkbox" [(ngModel)]="customBoard.showLastMove" >
                            </div>
                            <span class="input-group-text" id="inputGroup-sizing-default" style="width: 90%;">Mostra ultima mossa</span>
                        </div>
                        <div class="input-group mb-1">
                            <div class="input-group-text">
                              <input class="form-check-input mt-0" type="checkbox" [(ngModel)]="customBoard.showLegalMoves" >
                            </div>
                            <span class="input-group-text" id="inputGroup-sizing-default" style="width: 90%;">Mostra movimenti possibili</span>
                        </div>
                        <div class="input-group mb-1">
                            <div class="input-group-text">
                              <input class="form-check-input mt-0" type="checkbox" [(ngModel)]="customBoard.showActivePiece" >
                            </div>
                            <span class="input-group-text" id="inputGroup-sizing-default" style="width: 90%;">Mostra pezzo selezionato</span>
                        </div>
                        <div class="input-group mb-1">
                            <div class="input-group-text">
                              <input class="form-check-input mt-0" type="checkbox" [(ngModel)]="customBoard.showPossibleCaptures" >
                            </div>
                            <span class="input-group-text" id="inputGroup-sizing-default" style="width: 90%;">Mostra possibili catture</span>
                        </div>
                    </ng-template>
                </ngb-panel>
                <ngb-panel>
                    <ng-template ngbPanelTitle>
                        <h6 class="mb-0">Colore mosse</h6>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <div class="row">
                            <div class="col mt-1 mb-2" style="width: auto;">
                                <div class="d-flex justify-content-center">
                                    <h5>Colore casella di partenza</h5>
                                </div>
                                <div class="row">
                                    <div class="col d-flex justify-content-center">
                                               <span [style.background]="customBoard.sourcePointColor"
                                               [cpToggle]="true"
                                               [cpDialogDisplay]="'inline'"
                                               [cpCancelButton]="true"
                                               [(colorPicker)]="customBoard.sourcePointColor"></span>
                                    </div>
                               </div>                
                            </div>

                            <div class="col mt-1 mb-2" style="width: auto;">
                                <div class="d-flex justify-content-center">
                                    <h5>Colore casella destinazione</h5>
                                </div>
                                <div class="col d-flex justify-content-center">
                                    <span [style.background]="customBoard.destinationPointColor"
                                    [cpToggle]="true"
                                    [cpDialogDisplay]="'inline'"
                                    [cpCancelButton]="true"
                                    [(colorPicker)]="customBoard.destinationPointColor"></span>
                                </div> 
                            </div>             
                        </div>
                    </ng-template>
                </ngb-panel>
              </ngb-accordion>
    </div>
</div>
<div *ngIf="loading" class="d-flex justify-content-center mt-5">
    <fa-icon *ngIf="loading" [icon]="faCircleNotch" [spin]="true" style="font-size:2.5em"></fa-icon>
</div>


<ng-template #defaultModal let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Default Scacchiera</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
    </div>
    <div class="modal-body">
      <p>Sei sicuro di voler <strong>ripristinare</strong> la scacchiera?</p>
      <br>
      <p>La scacchiera verrà riportata nella versione di default!</p>
    </div>
    <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="close()">Annulla</button>
            <button type="button" class="btn btn-warning" (click)="default()">Esegui</button>
    </div>
</ng-template>

<ng-template #cancelModal let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Annulla modifiche</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
    </div>
    <div class="modal-body">
      <p>Sei sicuro di voler <strong>annullare</strong> tutte le modifiche alla scacchiera?</p>
      <br>
      <p>Attenzione! Tutti i cambiamenti non salvati verranno persi!</p>
    </div>
    <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="close()">Annulla</button>
            <button type="button" class="btn btn-warning" (click)="cancel()">Esegui</button>
    </div>
</ng-template>



