.box1 {
    width: 280px;
    margin-bottom: 10px ;
    margin-right: 17px;
    background: #00bf39;
    padding: 6px;
    text-align: center;
    font-weight: 900;
    color: #fff;
    font-family: arial;
    position:relative;
  }

  .sb1:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid #00bf39;
    border-right: 10px solid transparent;
    border-top: 10px solid #00bf39;
    border-bottom: 10px solid transparent;
    right: -17px;
    top: 6px;
  }

.box2 {
    width: 280px;
    margin-bottom: 10px ;
    background: #727272;
    padding: 6px;
    text-align: center;
    font-weight: 900;
    color: #fff;
    font-family: arial;
    position:relative;
  }




.sb2:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid #727272;
    border-top: 10px solid #727272;
    border-bottom: 10px solid transparent;
    left: -17px;
    top: 6px;
  }

div.myautoscroll {
    overflow-y: auto;
    padding-right: 1px;
}

.chess-btn{
  width: 60px;
  height: 60px;
}

.table-responsive {
  max-height:300px;
}