<div class="d-flex justify-content-start align-items-center">
    <fa-icon class="p-2" style="font-size: 2em; cursor: pointer;" [icon]="faChevronLeft"  (click)="back()" placement="bottom" ngbTooltip="Indietro"></fa-icon>
    <h3 *ngIf="!loading && partita" class="mt-2 p-2">{{partita.name}}</h3>
</div>
<div *ngIf="loading" class="d-flex justify-content-center mt-5">
    <fa-icon *ngIf="loading" [icon]="faCircleNotch" [spin]="true" style="font-size:2.5em"></fa-icon>
</div>
<div *ngIf="!loading && partita">
        <div class="row">
                <div class=" col-10">
                        <label for="typeahead-descritpion"><b>Descrizione:</b></label>
                        <input id="typeahead-descritpion" [(ngModel)]="partita.description" [ngbTypeahead]="" class="form-control" disabled="true">
                </div>
                <div class="col-2">
                        <div class="d-flex justify-content-end mb-2">
                                <button type="button" class="btn btn-primary rounded-circle m-1" style="width:60px;height:60px;" (click)="openModalInvite()" placement="bottom" ngbTooltip="Tutor">
                                        <fa-icon class="d-flex justify-content-center" style="font-size: 1.9em;color: white;" [icon]="faPersonChalkboard"></fa-icon>
                                    </button>
                                <button type="button" class="btn btn-info rounded-circle m-1" style="width:60px;height:60px;" (click)="update()" placement="bottom" ngbTooltip="Aggiorna commenti">
                                    <fa-icon class="d-flex justify-content-center" style="font-size: 2em;color: white;" [icon]="faRotateRight"></fa-icon>
                                </button>
                            </div>
                </div>
        </div>
</div>
<div class="row" *ngIf="!loading">
    <div class="col d-flex justify-content-center mt-2 mb-2" style="width: auto;">
            <ngx-chess-board #board (moveChange)="moveCallback($event)"
            [size]="550"
            [dragDisabled]="true"
            [lightDisabled]="!pgnSetted"
            [pieceIcons]="pieceIconInput"
            [lightTileColor] = "customBoard.lightColor"
            [darkTileColor] = "customBoard.darkColor"
            [showCoords] = "customBoard.showCoords"
            [showLastMove] = "customBoard.showLastMove"
            [showLegalMoves] = "customBoard.showLegalMoves"
            [showActivePiece] = "customBoard.showActivePiece"
            [sourcePointColor] = "customBoard.sourcePointColor"
            [destinationPointColor] = "customBoard.destinationPointColor"
            [showPossibleCaptures] = "customBoard.showPossibleCaptures"
            >
            </ngx-chess-board>
    </div>
    <div class="col mt-2 mb-2" style="width: auto;">
                <div class="card mb-4">
                        <div class="card-header">
                                <div class="d-flex justify-content-center">
                                        <h5>Comandi Scacchiera</h5>
                                </div>
                        </div>
                        <div class="row card-body">
                        <div class="col d-flex justify-content-center">
                                <button class="btn btn-warning chess-btn" (click)="beginning()" placement="bottom" ngbTooltip="Torna all'inizio partita">
                                        <fa-icon class="d-flex justify-content-center" style="font-size: 2.5em;color: white;" [icon]="faBan"></fa-icon>
                                </button>
                        </div>
                        <div class="col d-flex justify-content-center">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                        <button class="btn btn-primary chess-btn" (click)="prevMove()" [disabled]="move==0"
                                        placement="bottom" ngbTooltip="Mossa precedente">
                                                <fa-icon class="d-flex justify-content-center" style="font-size: 3em;" [icon]="faBackwardStep"></fa-icon>
                                        </button>
                                        <button class="btn btn-primary chess-btn" *ngIf="game && game.moves" 
                                        [disabled]="!(move < game.moves.length)"(click)="nextMove()" placement="bottom" ngbTooltip="Mossa successiva">
                                                <fa-icon class="d-flex justify-content-center" style="font-size: 3em;" [icon]="faForwardStep"></fa-icon>
                                        </button>
                              </div>
                        </div> 
                        <div class="col d-flex justify-content-center">
                                <button class="btn btn-info chess-btn" [disabled]="!pgnSetted" (click)="reverse()" placement="bottom" ngbTooltip="Inverti scacchiera">
                                        <fa-icon [ngStyle]="{'color':isWhite === true ? 'white' : 'black' }" class="d-flex justify-content-center" style="font-size: 2.5em;" [icon]="faChessPawn"></fa-icon>
                                </button>
                        </div>
                </div>
                </div> 
                <div class="card mb-4">
                        <div class="card-header">
                                <div class="d-flex justify-content-center">
                                        <h5>Commenti</h5>
                                </div>
                        </div>
                        <div #scroll class="card-body myautoscroll" style="max-height: 200px;">
                                <div *ngIf="commentCount >= 0 && game && game.moves && game.moves[commentCount] && game.moves[commentCount].comments.length > 0">
                                        <div  *ngFor="let c of game.moves[commentCount].comments" [ngClass]="{'d-flex': true,  'justify-content-end': c.id_user == userid, 'justify-content-start': c.id_user != userid}">
                                                <div [ngClass]="{'box1 sb1': c.id_user == userid, 'box2 sb2': c.id_user != userid}"  style="border-radius: 10px;">
                                                        <div *ngIf="c.id_user != userid" class="d-flex justify-content-start" style="font-size: 10px;">
                                                                <div *ngIf="game.id_user == userid">
                                                                        Tutor
                                                                </div>
                                                                <div *ngIf="game.id_user != userid">
                                                                        Studente
                                                                </div>
                                                        </div>
                                                        <div *ngIf="c.id_user == userid" class="d-flex justify-content-end" style="font-size: 10px;">Tu</div>
                                                        <div class="d-flex justify-content-start"  style="text-align: left;" >{{c.comment}}</div>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div> 

                <h6 for="fen">Inserisci il commento</h6>
                <div class="form-outline">
                        <textarea class="form-control" id="commentArea" rows="2" [(ngModel)]="lastComment"></textarea>
                        <label class="form-label" for="textAreaExample"></label>
                </div>                    
                <div class="justify-content-end d-flex">
                        <button type="button" class="btn btn-success" [disabled]="commentCount==-1"
                                 (click)="saveComment()">Salva Commento
                        </button>
                </div>
         </div>
         <div class="col mt-2 mb-2" style="width: auto;">
                <div class="card mb-4">
                        <div class="card-header">
                                <div class="d-flex justify-content-center">
                                        <h5>Mosse partita</h5>
                                </div>
                        </div>
                        <div class="card-body myautoscroll" style="max-height: 500px;">
                                <table id="table" class="table table-sm" cellspacing="0">
                                        <thead>
                                                <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">Bianco</th>
                                                        <th scope="col">Nero</th>
                                                </tr>
                                        </thead>
                                        <tbody>
                                                <tr *ngFor='let in of counter() ;let i = index'>
                                                        <td>{{i+1}}</td>
                                                        <td [ngStyle]="{'background-color':i*2 === move-1 ? '#fff2a8' : 'white', 'font-weight': i*2 === move-1 ? 'bold' : 'normal' }">{{whiteMoves[i]}}</td>
                                                        <td [ngStyle]="{'background-color': 1 +  i*2 === move-1 ? '#fff2a8' : 'white',  'font-weight': 1 +  i*2 === move-1 ? 'bold' : 'normal'}">{{blackMoves[i]}}</td>
                                                </tr>
                                        </tbody>
                                </table>
                        </div>
                </div>
         </div>
</div>


<ng-template #inviteModal let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Invita utente</h4>
          <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
        </div>
        <div class="modal-body" *ngIf="!loadingModel">
          <div class="mb-3 row">
            <label for="typeahead-config" class="col-xs-3 col-sm-auto col-form-label">Cerca utente:</label>
            <div class="col">
                <input id="typeahead-config" type="text" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search" />
            </div>
        </div>
        </div>
        <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="close()">Annulla</button>
                <button type="button" class="btn btn-success" (click)="invite()">Invita</button>
        </div>
      </ng-template>