<div class="col-md-4 offset-md-4 mt-4">
    <div class="card">
        <div class="card-header">
            <h4>Login</h4>
        </div>
        <div class="card-body">
            <form class="form-signin" #loginForm="ngForm" (ngSubmit)="login()">
                <div class="container-fluid">
                    <div *ngIf="invalidLogin" class="alert alert-danger">Invalid username or password</div>
                    <br>
                    <label *ngIf="username != ''" for="username" class="sr-only mb-2">Username</label>
                    <input [disabled]="loading"  type="email" id="username" [(ngModel)]="username"  [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Username" required autofocus>
                    <br>
                    <label *ngIf="password != ''" for="password" class="sr-only mb-2">Password</label>
                    <input  [disabled]="loading"  type="password" id="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Password" required>
                    <br>
                    <button class="btn bth-lg btn-primary btn-block"  [disabled]="loading"  type="submit">
                        Login
                        <fa-icon *ngIf="loading" [icon]="faSpinner" [spin]="true"></fa-icon>
                    </button>
                    <br>
                    <p class="mt-2">Non hai un account? <a href="/register" class="link-primary">Registrati qui!</a></p>
                </div>  
            </form>
        </div> 
    </div>
</div>