<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="logged()">
  <div class="navbar-nav container">
      <div class=" collapse navbar-collapse ">
          <a class="navbar-brand" href="#">ChessBook</a>
          <a  class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>           
      </div>
      <a class="nav-item nav-link" style="cursor: pointer;" (click)="logout()">Logout</a>
  </div>
</nav>
<!-- main app container -->
<div class="container">
  <alert></alert>
  <router-outlet></router-outlet>
</div>
