﻿<div *ngFor="let alert of alerts" class=" mt-3 container">
    <ngb-alert [type]="type(alert)" (closed)="removeAlert(alert)">
        <span [innerHTML]="alert.message"></span>
        <ngb-progressbar [value]="alert.pBarValue" [type]="type(alert)"></ngb-progressbar>
    </ngb-alert>    
</div>